#XfceNotifyWindow {
    background-color: #ebebeb;
    border-radius: 5px;
    border: 1px solid rgb(207, 207, 207);
    padding: 20px;
    color: #202020;
}

#XfceNotifyWindow:hover {
    border-width: 2px;
    border-color: #dadada;
    background-color: #fafafa;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #202020;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #cacaca;
    color: #202020;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #eeeeee;
    color: #404040;
}
