#XfceNotifyWindow {
    background-color: #222222;
    border-radius: 1px;
    border: 1px solid rgb(5, 5, 5);
    padding: 20px;
    color: #dadada;
}

#XfceNotifyWindow:hover {
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    background-color: #111111;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #e6e6e6;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #2e2e2e;
    color: #d4d4d4;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #1d1d1d;
    color: #e4e4e4;
}
