#XfceNotifyWindow {
    background-color: #333333;
    border-radius: 1px;
    border: 1px solid rgb(53, 53, 53);
    padding: 20px;
}

#XfceNotifyWindow:hover {
    border-width: 2px;
    border-color: #1a1a1a;
    background-color: #404040;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #ffffff;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #202020;
    color: #ffffff;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #404040;
    color: #ffffff;
}
